.venv/
.idea/
__pycache__/
*.pyc
*.log
*.tmp
*.pt
*.png
data
AutoCVAT
app/yolo_node/dataset_two_stage
app/yolo_node/raw_data_final
app/yolo_node/raw_data_split_two_stage
mask_truba
mask_annotation
temp
app/skeleton_ports


